
@{
    ViewBag.Title = "Cadastrar";
}

<h1>Cadastrar Jogo</h1>

<div class="form-horizontal">

    @{
    }

    <form method="post">
        <div class="form-group">
            <label class="control-label col-md-2">Primeiro Time</label>
            <div class="col-md-10">
                <select class="form-control" name="Times" id="Times">
                    @foreach (var item in ViewBag.Times)
                    {
                        <option value="@item.ID">@item.Casa</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Segundo Time</label>
            <div class="col-md-10">
                <select class="form-control" name="Times" id="Times">
                    @foreach (var item in ViewBag.Times)
                    {
                        <option value="@item.ID">@item.Casa</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Data do Jogo</label>
            <div class="col-md-10">
                <input class="form-control" type="date" name="viewModel.DataJogo" id="viewModel.DataJogo" />
                <span class="text-danger" id="erroDataJogo" name="erroDataJogo"></span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Narrador da Partida</label>
            <div class="col-md-10">
                <select class="form-control" name="viewModel.Narrador" id="viewModel.Narrador">
                    @foreach (var item in ViewBag.Narradores)
                    {
                        <option value="@item.ID">@item.Nome</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input name="CadastrarJogo" id="CadastrarJogo" type="submit" value="Cadastrar Jogo" />
            </div>
        </div>

        <h1>Jogo</h1>

        <div class="form-group">
            <label class="control-label col-md-2">Placar Time 1</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="PontuacaoTime1" id="PontuacaoTime1" />
                <span class="text-danger" id="erroPTime1" name="erroPTime"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input name="Goles1" id="Goles1" type="submit" value="Goles" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input name="PomoDeOuro1" id="PomoDeOuro1" type="submit" value="Pomo de Ouro" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Placar Time 2</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="PontuacaoTime2" id="PontuacaoTime2" />
                <span class="text-danger" id="erroPTime2" name="erroPTime2"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input name="Goles2" id="Goles2" type="submit" value="Goles" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input name="PomoDeOuro2" id="PomoDeOuro2" type="submit" value="Pomo de Ouro" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input name="EncerrarJogo" id="EncerrarJogo" type="submit" value="Encerrar o Jogo" />
            </div>
        </div>

    </form>

</div>

@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            $("#CadastrarJogo").click(function (e) {

                var time1 = $("#Time1").val();
                var time2 = $("#Time2").val();

                var sucesso = true;

                if (time1 == time2) {
                    $("#erroTime1").html("Os times que irão jogar devem ser diferentes!");
                    $("#erroTime2").html("Os times que irão jogar devem ser diferentes!");
                    sucesso = false;

                }

                 if (!sucesso) {
                    e.preventDefault();
                }
            });

        });
    </script>

}