
@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>

<div class="form-horizontal">

    @{

     }
    }

    <form method="post">
        <div class="form-group">
            <label class="control-label col-md-2">Primeiro Time</label>
            <div class="col-md-10">
                <select class="form-control" name="Casa" id="Casa">
                    @foreach (var item in ViewBag.Times)
                    {
                        <option value="@item.ID">@item.Nome</option>
                    }
                </select>
            </div>
        </div>

        @{
            string[] casa = Enum.GetNames(typeof(Entity.Enums.Casa));
        }

        <div class="form-group">
            <label class="control-label col-md-2">Casa</label>
            <div class="col-md-10">
                <select class="form-control" name="Casa" id="Casa">
                    @for (int i = 0; i < casa.Length; i++)
                    {
                        <option value="@i">@casa[i]</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Escolaridade</label>
            <div class="col-md-10">
                <input class="form-control" type="text" name="Escolaridade" id="Escolaridade" />
                <span class="text-danger" id="erroEscolaridade" name="erroEscolaridade"></span>
            </div>
        </div>

        @{
            string[] funcao = Enum.GetNames(typeof(Entity.Enums.Funcao));
        }

        <div class="form-group">
            <label class="control-label col-md-2">Função</label>
            <div class="col-md-10">
                <select class="form-control" name="Funcao" id="Funcao">
                    @for (int i = 0; i < funcao.Length; i++)
                    {
                        <option value="@i">@funcao[i]</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input name="BotaoEnviar" id="BotaoEnviar" type="submit" value="Cadastrar" />
            </div>
        </div>

    </form>

</div>