@model List<QuadribolPresentationLayer.Models.Query.JogoQueryViewModel>

@{
    ViewBag.Title = "";
}

<h2>Jogos</h2>

<table class="table">
    <tr>
        <th>Data do Jogo</th>
        <th><center>Pontuação</center></th>
        <th>Narrador</th>
    </tr>

    @{
        int jogoID = 0;
    }

    @foreach (var item in Model)
    {
        if (item.Jogo.ID != jogoID)
        {
            <tr>
                <td>@item.Jogo.DataJogo.ToString("dd/MM/yyyy - hh:mm")</td>
                <td><center><img width="50" height="50" src="@Model[0].Time.CaminhoImagem" /> @item.Jogo.PontuacaoTime1 X @item.Jogo.PontuacaoTime2 <img width="50" height="50" src="@Model[1].Time.CaminhoImagem" /></center></td>
                <td>@item.Jogo.Narrador.Nome</td>
            </tr>

            jogoID = item.Jogo.ID;
        }
    }

</table>
