@model List<QuadribolPresentationLayer.Models.Query.JogoQueryViewModel>

@{
    ViewBag.Title = "";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Data do Jogo</th>
        <th>Pontuação</th>
        <th>Narrador</th>
    </tr>

    @{
        int jogoID = 0;
    }

    @foreach (var item in Model)
    {
        if (item.Jogo.ID != jogoID)
        {
            <tr>
                <td>@item.Jogo.DataJogo</td>
                <td><img src="@Model[0].Time.CaminhoImagem" /> @item.Jogo.PontuacaoTime1 X @item.Jogo.PontuacaoTime2 <img src="@Model[1].Time.CaminhoImagem" /></td>
                <td>@item.Jogo.Narrador.Nome</td>
            </tr>

            jogoID = item.Jogo.ID;
        }
    }

</table>
