
@{
    ViewData["Title"] = "AlterarUsuario";
}

<h1>AlterarUsuario</h1>

<div class="form-horizontal">

    <form method="post">
        <div class="form-group">
            <label class="control-label col-md-2">Usuario</label>
            <div class="col-md-10">
                <select class="form-control" name="usuarioID" id="usuarioID">
                    @foreach (var item in ViewBag.Usuarios)
                    {
                        <option value="@item.ID">ID: @item.ID - Nome: @item.Nome</option>
                    }
                </select>
            </div>
        </div>

        @{
            string[] permissao = Enum.GetNames(typeof(Entity.Enums.Permissao));
        }

        <div class="form-group">
            <label class="control-label col-md-2">Permissão</label>
            <div class="col-md-10">
                <select class="form-control" name="Permissao" id="Permissao">
                    @for (int i = 0; i < permissao.Length; i++)
                    {
                        <option value="@i">@permissao[i]</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input name="BotaoEnviar" id="BotaoEnviar" type="submit" value="Alterar" />
            </div>
        </div>

    </form>
</div>
