@model List<QuadribolPresentationLayer.Models.Query.TimeQueryViewModel>

@{
    ViewBag.Title = "";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>Artilheiros</th>
        <th>Apanhadores</th>
        <th>Goleiros</th>
        <th>Batedores</th>
        <th>Casa do Time</th>
    </tr>

    @{
        @*foreach (var item in Model)
        {
        <tr>
            <td>@item.Nome, @item.Artilheiro2.Nome, @item.Artilheiro3.Nome</td>
            <td>@item.Nome</td>
            <td>@item.Nome</td>
            <td>@item.Nome, @item.Nome</td>
            <td>@item.Casa</td>
        </tr>
        }*@
    }

</table>